@model List<Registrar>



<div class="row m-5 pb-5 ">
   @foreach (var item in Model)
        {
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">@Html.DisplayFor(modelItem => item.Titulo)</h4>
          <div class="card-body">
              <center><img src="@Html.DisplayFor(modelItem => item.Img)" alt="" width="300" height="200" class="rounded-lg "></center>
      
          </div>
          <div class="card-footer">
           
           
              <a asp-action="Comentar" asp-route-id="@item.id" class="btn btn-success active" role="button">Comentar</a> 
             
            
          </div>
        </div>
      </div>
    }
  </div>

